/* General Container Styles */
.kzui-select {
  width: 100%;
  position: relative;
}

.kzui-select * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

.kzui-select__wrapper--disabled {
  pointer-events: none;
  background-color: #e1e1e1;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
}

/* Control Element Styles */
.kzui-select__control-label {
  display: flex;
  padding: 6px 10px;
  padding-right: 0;
  border: 2px solid gray;
  border-radius: 5px;
}

.kzui-select__control-label--opened {
  border: 2px solid dodgerblue;
}

.kzui-select__control-input {
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

.kzui-select__control-input--disabled {
  pointer-events: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
}

/* Icon Styles */
.kzui-select__clear-icon-wrapper,
.kzui-select__dropdown-icon-wrapper {
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kzui-select__clear-icon,
.kzui-select__dropdown-icon {
  width: 20px;
  fill: gray;
}

.kzui-select__dropdown-icon-wrapper {
  border-left: 1px solid black;
}

/* Menu Styles */
.kzui-select__menu {
  max-height: 300px;
  overflow-y: auto;
  padding-block: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  width: 100%;
  background-color: white;
  margin-top: 5px;
  z-index: 10;
}

.kzui-select__menu--hidden {
  display: none;
}

.kzui-select__menu--visible {
  display: block;
}

.kzui-select__menu-item {
  font-size: 1rem;
  padding: 10px 15px;
  width: 100%;
}

.kzui-select__menu-group-label {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px 15px;
  font-weight: bolder;
  color: gray;
}

.kzui-select__no-item {
  font-size: 1rem;
  padding: 10px 15px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: gray;
}

/* State Modifiers */
.kzui-select__menu-item:hover {
  background-color: rgb(195, 225, 255);
}

.kzui-select__clear-icon-wrapper:hover .kzui-select__clear-icon,
.kzui-select__dropdown-icon-wrapper:hover .kzui-select__dropdown-icon {
  fill: black;
}

.kzui-select__menu-item--selected {
  background-color: dodgerblue;
  color: white;
}

.kzui-select__menu-item--selected:hover {
  background-color: dodgerblue;
}

.kzui-select__multi-selected-item-remove:hover {
  background-color: rgb(255, 167, 167);
}

/* Additional Features */
.kzui-select__multi-selected-item-wrapper {
  padding: 5px;
  padding-top: 10px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.kzui-select__multi-selected-item {
  font-size: 0.8rem;
  padding-left: 8px;
  background-color: rgb(230, 224, 224);
  display: inline-block;
}

.kzui-select__multi-selected-item-remove {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 8px;
  margin-left: 4px;
  font-size: 0.7rem;
  color: red;
  cursor: pointer;
}

.kzui-select__menu-item--multi-selected {
  display: none;
}
